

body {
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    font-weight: 700; /* Use the desired weight */
    margin: 0;
    color: green;
    
    text-align: center;
    min-height: 100vh; /* Ensures main content takes at least the full viewport height */
    padding: 20px;
}
.custom-cursor {
    cursor: url("/cursor-image.png"), auto; /* Path to your downloaded image */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px 20px;
    position: relative;
}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: darkseagreen; /*#575757*/
    border-radius: 5px;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 25px;
    background-color: green;
    margin: 3px 0;
    transition: 0.3s;
}


/* Styling for the container holding the map and legend */
.map-align {
    display: flex; /* Use Flexbox to align items horizontally */
    justify-content: space-between; /* Distribute space between items */
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Styling for the legend */
.legend {
    flex: 0 0 200px; /* Fix the width of the legend */
    /*background-color: beige;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    padding: 20px;
    margin-right: 20px; /* Space between the legend and the map */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

.legend h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

.legend ul {
    list-style: none;
    padding: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.legend-text {
    font-size: 1em;
    color: #333;
}

/* Styling for the map */
.map-display {
    width: 90%;
    height: 700px;
    border-radius: 15px; /* Rounds the corners of the map */
    overflow: hidden; /* Ensures content doesn't overflow the rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for a 3D effect */
    flex: 1; /* Allows the map to take up remaining space */
    border: 0; /* Remove border from iframe */
}